body {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
}
.main{
    height: auto;
    background-image: url("http://gratisography.com/pictures/127_1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

}
#container {
    height: 700px;
    width: 1000px;
    margin: 0 auto;
}

.header{
    margin-top: 0px;
    width: 100%;
}

nav {
    float: right;
    margin-top: 26px;
}
.navbar{
    color: white;
    font-size: 20px;
    margin-left: white
    text-decoration: none;
    outline: none;
    
}

.navbar:hover {
    text-decoration: underline;
}

span{
    width:100%;
}
h1{
    font-size: 90px;
    color: #21B6A8;
    text-align: left ;
    clear: both;
    padding-top: 20px;
    outline: none;
}
h2{
    font-size: 50px;
    color: #21B6A8;
    text-align:left;
    clear: both;
    padding-top: px;
    outline: none;}
p{
    font-size: 30px;
    color:#21B6A8;
    text-align: center;
    clear: both;
    padding-top: 200px;
    outline: none;
}